alias("$(PL)CavPos:B0", "$(PA)DI-00")
alias("$(PL)CavPos:B1", "$(PA)DI-01")
alias("$(PL)CavPos:B2", "$(PA)DI-02")
alias("$(PL)StepAtten10dB:cOn", "$(PA)DO-00")
alias("$(PL)StepAtten20dB:cOn", "$(PA)DO-01")
alias("$(PL)StepAtten40dB:cOn", "$(PA)DO-02")
alias("$(PL)SSPA:cEnable", "$(PA)DO-06")
alias("$(PL)RFswitch:cOn", "$(PA)DO-07")
alias("$(PL)VCACtrl:cSetV", "$(PA)AO-00")
